.heading1,.heading2
{
	font-family: cabin-n7, sans-serif;
}

.logo,.navigation
{
	font-family: comfortaa-n3, sans-serif;
}

.bodytext,.heading1-page
{
	font-family: cabin-n4, sans-serif;
}

#u2272-4
{
	font-family: comfortaa-n3, sans-serif;
}

#u2273-4
{
	font-family: comfortaa-n3, sans-serif;
}

#u2274-4
{
	font-family: comfortaa-n3, sans-serif;
}

#u9691-4
{
	font-family: comfortaa-n3, sans-serif;
}

#u2275-4
{
	font-family: comfortaa-n3, sans-serif;
}

#u2277-4
{
	font-family: comfortaa-n3, sans-serif;
}

#u2344-4,#u2348-4,#u2347-4
{
	font-family: cabin-n7, sans-serif;
}

#u2335-7,#u2336-6,#u2337-4,#u10990-3,#u10990-4,#u9601-3,#u9601-4,#u9597-4,#u9597-5,#u2372-3,#u2372-4,#u10856-3,#u10856-4,#u10865-3,#u10865-4
{
	font-family: cabin-n4, sans-serif;
}

#u10991-4,#u9602-4,#u9598-4,#u2375-4,#u10857-4,#u10866-4
{
	font-family: comfortaa-n3, sans-serif;
}

#u9783-30,#u9748-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9794-29,#u9820-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9855-28,#u9830-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9872-27,#u9865-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10216-29,#u10232-4
{
	font-family: open-sans-n3, sans-serif;
}

#u11170-28,#u11164-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9342-26,#u9375-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9263-31,#u9297-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9318-28,#u9302-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9211-33,#u9216-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9245-28,#u9258-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10294-29,#u10319-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9476-28,#u9456-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10405-26,#u10400-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9723-4,#u9731-4,#u9737-4,#u9741-4,#u9743-4,#u9768-4,#u9815-4,#u9842-4,#u9896-4,#u10385-4,#u10213-4,#u11168-4,#u9167-4,#u9348-4,#u9158-4,#u9175-4,#u9286-4,#u9322-4,#u9171-4,#u9214-4,#u9180-4,#u9241-4,#u10311-4,#u10389-4,#u9447-4,#u9468-4,#u10434-4,#u10421-4,#u11235-4,#u9515-4
{
	font-family: advent-pro-n6, sans-serif;
}

#u9526-28,#u9531-4
{
	font-family: open-sans-n3, sans-serif;
}

